services:
  server:
    build: ./server
    container_name: server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env

  client:
    build: ./client
    container_name: client
    ports:
      - "5173:5173"
    environment:
      - WATCHPACK_POLLING=true
    volumes:
      - ./client:/app
      - /app/node_modules
    env_file:
      - ./client/.env